body{
    max-width: 300px;
    background-color: rgb(236, 236, 236);
}

.home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
h4{
    text-align: center;
    color: blue;
}

h1{
    text-align: center;
    padding-top: 0px;
}

p{
    text-align: center;
    font-size: medium;
}