
body {text-align: center; background-color: rgba(252,166,201,255)}
  header
    h1 {font-size: xxx-large; color: white;}
    h2 {font-size: smaller; color: white;}
    h3 {font-size: medium; color: white;}
    h4 {text-align: left; font-size: smaller;}
  main
      img {width: 20%;}
      h1 {max-width: 50%;}