body {
    background-color: rgb(99, 98, 98);
}

#container {
    max-width: 1280px;
    margin: 40px auto;
}

.title-img {
    width: 100%
}

.row-img {
    width: 100%;
    display: inline-block;
    width: calc((var(--max-width) / 3) - (var(--padding) * 2 ) - (var(--margin) * 2 ) - (var(--border) * 2 ));
    margin: var(--margin);
    border-radius: 50%;
    border: 8px solid #453939;
    padding: 18px;
} */